/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        
        overflow: hidden
    }

    .navBarImg {
        width: 400px;
        
    }

    .pokedex-grind { 
        

    }
    .pokedex-list {

       
       
    }

    .searchBar {
        width: 380px;
        height: 50px;
    }
    .searchBarContainer input {
        width: 220px;
        height: 35px;
    }
    .searchBarBtn button {
        height: 37px; 
        width: 83px;
    }
}