@media(min-width: 1px) and (max-width: 380px) {
    body {
        
        overflow: hidden
    }

    .navBarImg {
        width: 200px;
      

    }

    .pokedex-grind { 
        

    }

    .pokedex-list {
        min-width: 165px;
        max-width: 165px;
        width: 165px;
        font-size: 12px;
        align-items: center;
        margin: 5px;
        border-radius: 10px;


    }

    .pokedex-list img {
       

    }

    .pokedex-list h1 {}

    .searchBar {
        width: 380px;
        height: 50px;
    }
    .searchBarContainer input {
        width: 220px;
        height: 35px;
    }
    .searchBarBtn button {
        height: 37px; 
        width: 83px;
    }
}