body {
  font-family: 'Source Code Pro', monospace;
}

.nav-home {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-search {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-list-menu {
  width: 900px;
  margin: 0 auto;

}